# ignore all weights file as they are enormous
*.weights

*.csv
*.bin

*/venv/*
darknet
darknet/*
project_thesis
project_thesis/*
*/__pycache__/*
*pyc

# ignore all data as there are too many images
darknet/data/*


# Ignore data
data/
data/*
*/data/*
*/imgs/*
imgs/*

*test*


*.png