# ignore all weights file as they are enormous
*.weights

*.csv
*.bin

*/venv/*
*cache*

# ignore all data as there are too many images
darknet/data/*


# Ignore data
data/
data/*
*/data/*
*/imgs/*
imgs/*

*test*
